#gameInfo{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20%;
}
#info *{
    display: inline;
}
#btnWeapon, #winner{
    display: flex;
    justify-content: center;
    align-content: center;
}

*{
    padding: 10px;
}